.jumbo {
    background-color: #3b3937;
    color: cornsilk;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bolder;
    margin-bottom: 100px;
}

.title {
    font-family: 'Barlow Condensed', sans-serif;
    color: #e26105;
    font-size: 40px;
}

.card {
    padding-right: 15px;
    padding-left: 15px;
    margin: 15px;
}

.fas {
    font-size: 15px;
    color: #e26105;
}

.job {
    font-size: 18px;
    color: lawngreen;
}

